<div>
  <header>
    <nav>
    <div class="logo">
      <img src="assets/E1.png" alt="eazy logo" height="50" width="60" />
      <a href="/"><h4>EAZY</h4></a>
    </div>
    
      <ul class="nav-area">
        <li><a routerLink="/partners">Partnereknek</a></li>
        <li><a routerLink="/about">Rólunk</a></li>
        <li><a routerLink="/connect">Kapcsolat</a></li>
        <li><a href="ref.html">Referenciák</a></li>
      </ul>
      <ul class="nyelv-area">
        <li>
          <a href="">
            <img
              src="assets/hungary-flag-icon-128.png"
              alt=""
              height="15"
              width="30"
          /></a>
        </li>
        <li>
          <a href="">
            <img
              src="assets/united-kingdom-flag-icon-128.png"
              alt=""
              height="15"
              width="30"
          /></a>
        </li>
        <li>
          <a href="">
            <img
              src="assets/germany-flag-icon-128.png"
              alt=""
              height="15"
              width="30"
          /></a>
        </li>
        <li>
          <a href="">
            <img
              src="assets/france-flag-icon-128.png"
              alt=""
              height="15"
              width="30"
          /></a>
        </li>
        <li>
          <a href="">
            <img
              src="assets/spain-flag-icon-128.png"
              alt=""
              height="15"
              width="30"
          /></a>
        </li>
      </ul>
    </nav>
  </header>
</div>
