header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px 20px 10px 10px; */
    background-color: white;
    /* margin: 50px; */
    /* padding: 30px; */
    height: 80px;
    overflow: hidden;
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
  }
  
  nav {
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    display: flex;
    font-size: xx-large;
  }
  
  .logo h4 {
    padding-top: 15px;
    color: rgb(65, 64, 66);
    font-family: "Poppins", sans-serif;
    letter-spacing: 4pt;
  }
  .logo h4:hover {
    color: rgb(228, 33, 85);
  }
  
  a {
    text-decoration: none;
  }
  
  .nav-area {
    list-style: none;
    width: max-content;
    justify-content: center;
    display: inherit;
  }
  
  .nav-area li {
    display: inline-block;
    padding-left: 20px;
    font-size: medium;
    text-transform: uppercase;
    font-size: large;
  }
  .nav-area li a {
    color: rgb(65, 64, 66);
  }
  
  .nav-area li a:hover {
    color: rgb(228, 33, 85);
    /* text-decoration: rgba(221, 210, 210, 0); */
  }
  
  .nyelv {
    margin-left: 45pt;
  }