header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}

.nav-area {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.nyelv{
   margin-left: 45pt;}

.logo {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
  }
  
  .logo h4 {
    padding-top: 15px;
    color: rgb(65, 64, 66);
    letter-spacing: 4pt;
  }

nav {
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;
}

.logo h4:hover {
    color: rgb(228, 33, 85);
  }
  
  a {
    text-decoration: none;
  }

  .nav-area li{
    padding-left: 2rem;
    font-size: large;
    text-transform: uppercase;
    display: inline-block;


  }

  .nav-area li a {
    color: rgb(65, 64, 66);
  }

  .nav-area li a:hover {
    color: rgb(228, 33, 85);
  }