<footer>
  <div class="footer-section1">
    <div>
      <p>info@eazy.co.hu</p>
      <p>sales@eazy.co.hu</p>
      <a href=""> <img src="assets/iconfinder_square-facebook_317727.png" height="15" width="15" alt="" />facebook </a><br />
      <a href=""><img src="assets/instagram.png" width="15" height="15" alt="" />instagram</a>
    </div>
  </div>
  <div class="footer-section2">
    <ul class="foot-area">
      <li><a href="">ÁSZF</a></li>
      <li><a href="">Ügyfélszolgálat</a></li>
      <li><a href="">Adatkezelési nyilatkozat</a></li>
    </ul>
  </div>
  <div class="footer-section3">
    <img src="assets/E2.png" alt="logo feher" width="50" height="50" />
    <p>EAZY CPS Zrt.</p>
    <p>Copyright © 2021</p>
  </div>
</footer>
