<section class="section1">
  <img src="assets/abra5.png" width="60%" height="60%" alt="" />

  <p>
    A jelenleg elérhető más készpénzmentes megoldások nem gyorsítják meg igazán
    vagy javítják a rendelés és a kiszolgálás minőségét, azonban az EAZY
    használatával az emberi- és időtényezőből fakadó hátrányok áthidalhatóak
  </p>
</section>
<section class="section2">
  <h2>Mit biztosítunk üzleti partnereink számára?</h2>
  <img src="assets/abra3.png" width="60%" height="60%" alt="">
  <ul>
    <li>Bevétel növekedési lehetőség</li>
    <li>
      Több fogyasztó elérése, mint saját applikáció üzemeltetése esetén
    </li>
    <li>
      Megjelenés egy új, korszerű, értékesítési felületen, mely az
      e-kereskedelem és a vendéglátás keresztpiacán ad lehetőséget elérni a
      fogyasztókat
    </li>
    <li>
      Teljeskörű üzletmenet: nem kell nyugtaadással, készpénzzel, később
      kimutatásokkal, tranzakciós listák összesítésével bajlódni, hiszen
      ezek automatizálását mi mind átvállaljuk!
    </li>
    <li>
      EAZY MANAGEMENT - Készletezési, elszámolási rendszer A partnerek
      számára fejlesztett MANAGEMENT rendszer segítségével, az értékesítés
      adatai hozzáférhetőek, átláthatóak, ellenőrizhetőek, a kínálat könnyen
      módosítható, továbbá eddig rendszerezhetelen és rögzíthetelen
      fogyasztói adatok válnak elérhetővé a rendelések után.
    </li>
    <li>
      EAZY FRONT - kiszolgáláskezelő rendszer Meggyorsított kiszolgálás: az
      EAZY-n keresztül leadott rendelések kiszolgálására szánt idő kevesebb
      mint a hétköznapi módok esetében, így adott idő alatt több rendelés
      teljesítésére van lehetőség, ezáltal magasabb bevételhez jutva
    </li>
  </ul>
</section>
<section class="section3">
  <h1>Milyen vállalkozásoknak találtuk ki az EAZY-t?</h1>
  <img src="assets/abra4.png" width="70%" height="70%" alt="">
</section>
